<div class="container">
  <div class="raw">
    <form action="#" (ngSubmit)="submit()" [formGroup]="form">
      <br>
      <div class="form-row">
        <div class="col">
          <input formControlName="name"
                 type="text" class="form-control" placeholder="Product name"
                 [class.is-invalid]="form.controls['name'].touched && form.controls['name'].invalid">
        </div>

        <div class="col">
          <select class="form-control" formControlName="categoryId"
                  [class.is-invalid]="form.controls['categoryId'].touched && form.controls['categoryId'].invalid">
            <option [value]="0">Choose category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
</div>
